<div class="layout-margin">
  <div *ngIf="!loading">
    <div>
      <h1 class="ui header">{{ post.title }}</h1>
      <span class="ui red empty mini circular label"></span>
      {{ " " + post?.category.name + " " }}
      <span
        *ngFor="let tag of getTags(post)"
        class="ui label basic grey"
        [key]="tag"
      >
        {{ tag }}
      </span>
    </div>
    <h4 class="ui image header">
      <img
        [src]="avatar(post?.author.avatarImg)"
        class="ui mini rounded image"
      />
      <div class="content">
        {{ post?.author.displayName }}
        <div class="sub header">{{ dateStr }}</div>
      </div>
    </h4>
    <p *ngFor="let str of post.text.split('\n')" [key]="str">
      {{ str }}
      <br />
    </p>
    <div class="mt-3">
      <div
        *ngFor="let comment of post.comments"
        class="ui comments"
        [key]="comment.id"
      >
        <div class="comment">
          <div class="avatar">
            <img [src]="avatar(comment.author.avatarImg)" />
          </div>
          <div class="content">
            <a class="author">{{ comment.author.displayName }}</a>
            <div class="text">{{ comment.text }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
